@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/**CSS**/

@layer utilities {
  @keyframes slideFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animated-span-left,
  .animated-span-right {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  .animated-span-left:nth-child(even) {
    animation-name: slideFromLeft;
  }
  .animated-span-left:nth-child(odd) {
    animation-name: slideFromRight;
  }
  .animated-span-right:nth-child(even) {
    animation-name: slideFromRight;
  }
  .animated-span-right:nth-child(odd) {
    animation-name: slideFromLeft;
  }
  @keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }
    to {
      opacity: 1;
      scale: 100%;
    }
  }
  /**animation images **/
  .show-image {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
  }
  p {
    text-wrap: balance;
  }
  @keyframes animated-gradient-text_fade-foreground-1__3rW7l {
    0%,
    16.667%,
    100% {
      opacity: 1;
      transition: opacity 0.8s ease-in-out;
    }
    33.333%,
    83.333% {
      opacity: 0.3;
    }
  }
  .bg-shadow {
    box-shadow:
      0 5px 50px -5px hsla(0, 0%, 100%, 0.1),
      0 0 0 1px hsla(0, 0%, 100%, 0.1);
    background: rgba(0, 0, 0, 0.3);
  }
  .color-styled {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-image: linear-gradient(90deg, #00ffff, #800080);
    position: relative;
    z-index: 1;
    animation: animated-gradient-text_fade-foreground-1__3rW7l 7s infinite;
    transition: background-image 0.3s ease-in-out;
  }
}
