{
    "$schema": "https://json.schemastore.org/prettierrc",
    "singleQuote": true,
    "printWidth": 100,
    "overrides": [
        {
            "files": [
                "*.tsx",
                "*.ts"
            ],
            "options": {
                "bracketSameLine": false,
                "jsxSingleQuote": true
            }
        },
        {
            "files": [
                "README.md",
                "packages/*/README.md",
                "**/packages.json"
            ],
            "options": {
                "useTabs": false,
                "tabWidth": 2
            }
        }
    ]
}