@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --dg-c-white: rgb(255,255,255);
    --dg-c-black: rgb(0,0,0);
    
    --dg-c-zinc: rgb(5, 17, 20);
    --dg-c-aqua: rgb(66, 180, 238);
    --dg-c-green-ligth: rgb(223, 247, 208);
    --dg-c-aqua-ligth: rgba(66,180,238, 0.9);
    --dg-c-purple: rgb(90,31,175);
}